
body.Hintergrund{
}

.header {
background-image: url("Bilder/HeaderHintergrund.png");



font-size:75px;

}

div.navigation{
background-color:black;
}

a.Teil_2{
color:white;
text-decoration:none;
}
a.Random_link{
margin-left:40px;
color:white;
text-decoration:none;
}