
body.Hintergrund{
}

.header {
background-image: url("HeaderHintergrund.png");

background-image: url("Unbenannt2.png");
background-repeat: no-repeat;

font-size:90px;

}

div.navigation{
background-color:black;
}

a.Teil_2{
color:white;
text-decoration:none;
}
a.Random_link{
margin-left:40px;
color:white;
text-decoration:none;
}